DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
GROQ_API_KEY=
# Sentry
NEXT_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_AUTH_TOKEN=sntrys_eyJpYXQ...
SENTRY_ORG=my-org
SENTRY_PROJECT=my-project

# Facebook SDK (Client Side)
NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_FACEBOOK_API_VERSION=v18.0

